Answer: <input type="text" name="answer">
<button class="submitAnswer">Add</button><br>
Answer: <input type="text" name="answer">
<button class="submitAnswer">Add</button><br>
Answer: <input type="text" name="answer">
<button class="submitAnswer">Add</button>