  <form method='post' class="questionForm">
  Question: <input type="text" name="description"><br>
  Answer: <input type="text" name="answer1" class="answer1"><br>
  Answer: <input type="text" name="answer2" class="answer2"><br>
  Answer: <input type="text" name="answer3" class="answer3"><br>
  <button type="submit" class="submit">Submit</button>
</form>