<h2>Create a new survey!</h2>

<form action='/surveys' method="post">
  Title: <input type="text" name="title" class="title form-control">
    <button class="question btn btn-info">Add question</button><br>
</form>

<article class="questionCreation">
  
</article>

<article>
  <form class="saveForm">
    
  </form>

  <button class="saveFormButton">Save Form</button>
</article>