<h2>Create a new survey!</h2>

<form action='/surveys' method="post">
  Title: <input type="text" name="title">
  <button class="question">Add question</button><br>
</form>

<article class="questionCreation">
  
</article>

<article>
  <form class="saveForm">
    
  </form>

  <button type="submit">Save Form</button>
</article>